/* Relating to World Best Beaches page */

.pageimage {
    font-size:larger
}

.ffryes-text {
    font-size: small;
}

#ftext {
    padding: 10px;
}

#d-text {
    font-size: x-large;
}

#d-text2 {
    font-size: x-large;
}
.h3 {
    text-align: center;
}

#newz-text {
    font-size: x-large
}

#new-text2 {
    font-size: x-large
}

.nz-image {
    padding: 50px;
}

.mru-text {
    padding: 30px;
}

#mru-text1 {
    font-size: x-large
}

#mru-text2 {
    font-size: x-large
}

.tagline {
    font-size: xx-large
}

.heading4 {
    padding: 10px;
}

.h2 {
    text-align: center;
        }
  