body, html {
    height: 100%;
    margin: 0;
    display: grid;
    color: rgb(250, 246, 246);
    background-image: linear-gradient( rgb(0, 153, 255) , rgb(182, 225, 253));
    font: verdana;
    font-size: 40px;
    margin: 0;
  }

  .container {
    display: grid; 
    grid-auto-flow: row dense; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 50px 0px; 
    grid-template-areas: 
      "."
      "."
      "."
      "."; 
  }